*{
    box-sizing: border-box;
}

main{
    
   border: solid red 1px;
    height: 1080px ;
    min-height: 1920px;
    max-height: 1080px;

    width: 1920px;
    max-width: 1920px;
    min-width:1920px;

    position: relative;

}

main>section:nth-child(2)
{
    background: #83a4d4; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #83a4d4, #b6fbff); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #83a4d4, #b6fbff); 
}
main>section:nth-child(3)
{
    background: #B3FFAB;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #12FFF7, #B3FFAB);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #12FFF7, #B3FFAB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
     
}

main>section
{
    width: 15%;
    height: 10%;

    margin: 20px;

    display: inline-block;
    border-radius: 2%;

     background: rgb(255,210,148);
     background: linear-gradient(59deg, rgba(255,210,148,1) 8%, rgba(255,128,115,1) 49%, rgba(255,170,208,1) 96%);
     font-size: 0px;
}


div
{
    display:  inline-block;
    vertical-align: top;
    

    margin: 0px;
    width: 50%;
    height: 100%;
    font-size: 0;
    position: relative;
    overflow: hidden;
    color: white;
    text-align: center;
    padding-top:5%;
    
}



section>div+div>p:first-child
{
    
    position: absolute;
    right: -50px;
    top: -26px;
}


section>div+div>p+p
{
    
    position: absolute;
    right: -20px;
    bottom: -60px;
    margin:0px;
    padding: 0px;
}
section>div>p:first-child{
    margin-top:20px;
    font-size: small;
}
section>div>p:nth-child(2){
    margin-top:20px;
    font-size: large;
    font-weight: bold;
}



section>div>p+p+p{
    margin-top:60px;
    font-size: small;
    font-weight: bold;
    margin-left:20%;
}


section>div+div>p
{
    width: 90%;
    height: 75%;
    border: 1px solid white;
    border-radius: 50%;
    background-color: white;
    opacity: 0.3;
}

section>div+div>p>svg
{
    margin-top: 50px;
    margin-right: 50%;
    fill: black;
    opacity: 1;
}
